<div>
    <img ng-src="http://image.tmdb.org/t/p/original{{vm.movie.backdrop_path}}" alt="Movie backdrop" class="bg" />
    <div id="page-wrap">
        <p class="right">
            <a href="/#/" class="image">
                <img src="/img/Home.png" alt="Back to collection" width="24" height="24" />
            </a>
        </p>
        <h1>{{vm.movie.title}}</h1>
        <p><em>{{vm.movie.tagline}}</em></p>
        <br />
        <p>Released on {{vm.movie.release_date}}, runtime {{vm.movie.runtime}} minutes.</p>
        <br />
        <p>{{vm.movie.overview}}</p>
        <p ng-if="vm.movie.vote_average > 0">Vote average: <strong>{{vm.movie.vote_average}}</strong></p>
        <ul ng-if="vm.movie.castCrew.cast.length > 0" id="actors-list" class="cf">
            <li ng-repeat="actor in vm.movie.castCrew.cast">
                <a href="" target="_blank" ng-href="https://www.themoviedb.org/person/{{actor.id}}" class="image">
                    <img ng-src="https://image.tmdb.org/t/p/w185/{{actor.profile_path}}" alt="Profile" height="50" />
                </a>
                <span><a href="" target="_blank" ng-href="https://www.themoviedb.org/person/{{actor.id}}">{{actor.name}}</a> as {{actor.character}}</span>
            </li>
        </ul>
        <p class="right">For more information, see <a href="" target="_blank" ng-href="http://www.themoviedb.org/movie/{{vm.movie.id}}">TheMovieDB</a>.
        </p>
        <!--<pre>{{vm.movie.castCrew.cast | json : 2}}</pre>-->
    </div>
</div>
